/* Services Section */
.services,
.classes,.testimonial,.form{
padding-top: 100px;
display: flex;
flex-direction: column;
justify-content: center;
}
.service-heading h3,
.class-heading h3,.mentor-heading h3,.testimonial-heading h3{
    color: #1f3edb;
    font-size: 1.3rem;
    font-weight: 500;
}
.service-heading h1,
.class-heading h1,.mentor-heading h1,.testimonial-heading h1,.registration h1{
    font-size: 2rem;
    max-width: 60%;
    margin: 10px 0 20px;
    color: #34364A;
}
.services-card-wrap,.classes-card-wrapper{
    margin: 30px 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.service-card-wrapper{
    width: 26%;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    transition: .3s all;
}
.service-card-wrapper:hover,.class-card-wrap:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
}
.service-card-wrapper img{
    width: 60px;
}
.service-card-wrapper h3{
    margin: 30px 0 10px;
    font-size: 1.3rem;
    text-align: center;
}
.service-card-wrapper p{
    text-align: center;
    font-size: .9rem;
    color: #34364ada;
}
/* Akhir dari services section */